{% extends 'index.html' %}
{% block content %}
<!-- header image/ hero image-->
<header class="banner">
    <div class="calert alert-{{category}}">

    <h1 class='header-text'>Welcome</h1>
</header>

    {% for post in posts %}

<div class="container">
    <h3>
        <a href="{{url_for('phonebook_detail', post_id = post.id)}}">{{ post.name }}</a>
    </h3>
    <p>
        {{ post.address }}
    </p>
    <button class="btn btn">
        <small><a href="{{url_for('phonebook_update',post_id = post.id)}}">Update Post</a></small></button>
</div>
    {% endfor %}


{% endblock %}