<nav class="header">
    <h1 class="logo">
        <a href="#">AVENGERS</a>
    </h1>
    <ul class="main-nav">
        <li><a href="{{ url_for('index') }}">Home</a></li>
        <li><a href="{{url_for('create_contact')}}">Create Phonebook Entry</a></li>
        <li><a href=""></a></li>
        {% if current_user.is_authenticated %}
        <li><a href="{{ url_for('logout') }}">Logout</a></li>
        <li><a href="{{url_for('user_detail', user_id=current_user.id)}}">Profile</a></li>
        {% else %}
        <li><a href="{{ url_for('login') }}">Login</a></li>
        {% endif %}
        <li><a href="{{ url_for('register') }}">Register</a></li>
    </ul>
</nav>