<nav class="header">
    <h1 class="logo">
        <a href="#">AVENGERS</a>
    </h1>
    <ul class="main-nav">
        <li><a href="{{ url_for('index') }}">Home</a></li>
        <li><a href="{{ url_for('blackwidow') }}">Black Widow</a></li>
        <li><a href="{{ url_for('dr_strange') }}">Dr. Strange</a></li>
        <li><a href="{{ url_for('ironman') }}">Ironman</a></li>
        <li><a href="{{ url_for('thor') }}">Thor</a></li>
        <li><a href="{{ url_for('hawkeye') }}">Hawkeye</a></li>
        <li><a href="{{ url_for('captain_america') }}">Captain America</a></li>
        <li><a href="{{ url_for('hulk') }}">Hulk</a></li>
        <li><a href="{{ url_for('register') }}">Register</a></li>
    </ul>
</nav>