<nav class="header">
    <h1 class="logo">
        <a href="#">AVENGERS</a>
    </h1>
    <ul class="main-nav">
        <li><a href="{{ url_for('index') }}">Home</a></li>
        <li><a href="{{ url_for('blackwidow') }}">Black Widow</a></li>
        <li><a href="{{ url_for('dr_strange') }}">Dr. Strange</a></li>
        <li><a href="#">Ironman</a></li>
        <li><a href="#">Thor</a></li>
        <li><a href="#">Hawkeye</a></li>
        <li><a href="#">Capitan America</a></li>
        <li><a href="#">Hulk</a></li>
    </ul>
</nav>